.wrapper {
    background-color: #41281f;       /* 진한 갈색 배경 */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .receiptTop {
    width: 120%;
    max-width: 420px;
    height: auto;
  }
  
  .container {
    position: relative;
    background-color: #f8cba2;       /* 연한 베이지 - 영수증 색상 */
    padding: 24px 20px;
    max-width: 420px;
    width: 66%;
    box-sizing: border-box;
    border-radius: 0 0 16px 16px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    font-family: 'Pretendard', sans-serif;
    left: -6.3px;
  }
  
  .item h3 {
    font-size: 1rem;
    color: #222;
    margin-bottom: 6px;
  }
  
  .item ul {
    padding-left: 16px;
    font-size: 0.95rem;
    color: #333;
  }
  
  .character {
    display: block;
    margin: 0 auto;
    width: 130px;
  }
  
  .backBtn {
    display: block;
    margin: 0 auto 12px;
    background-color: #d04e41;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .dottedLine {
    width: 100%;
    height: 8px;
    background-image:
    repeating-linear-gradient(to right, #3f2a21 0 4px, transparent 4px 8px),
    repeating-linear-gradient(to right, #3f2a21 0 4px, transparent 4px 8px);
    background-size: 100% 2px;
    background-position: top, bottom;
    background-repeat: repeat-x;
    margin-bottom:10px;
  }

  .again{
    font-size:14px;
    text-align:center;
    margin-bottom: 10px;
    font-weight : bold;

}