.wrapper {
    background-color: #e4b891;       /* 진한 갈색 배경 */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.receiptTop {
  margin-top:20px;
  width: 90%;
  max-width: 420px;
  height: auto;
}

.innerOffset{
  transform: translateY(-30px);
  
}
  
  .container {
    position: relative;
    background-color: #42281e;       /* 연한 베이지 - 영수증 색상 */
    padding: 24px 20px;
    max-width: 318.3px;
    width: 68.15%;
    box-sizing: border-box;
    
    
  }


  
  .item h3 {
    font-size: 1rem;
    color: #e4b891;
    margin-bottom: 6px;
  }
  
  .item ul {
    padding-left: 16px;
    font-size: 0.95rem;
    color: white;
  }
  
  .character {
    display: block;
    margin: 0 auto;
    width: 130px;
    margin-top:10px;
  }
  
  .backBtn {
    display: block;
    margin: 0 auto 12px;
    background-color: #d04e41;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .dottedLine {
    width: 100%;
    height: 8px;
    background-image:
    repeating-linear-gradient(to right, white 0 8px, transparent 2px 12px),
    repeating-linear-gradient(to right, white 0 8px, transparent 2px 12px);
    background-size: 100% 1px;
    background-position: top, bottom;
    background-repeat: repeat-x;
    margin-bottom :10px;
  }

  .again{
    font-size:14px;
    color: #e4b891;
    text-align:center;
    margin-bottom: 10px;
    font-weight : bold;

}

.title {
  font-size: 1.5rem;
  font-weight: 700; /* ✅ 글자 굵기만 강조 */
  text-align: center;
  margin-bottom: 10px;
  color: #e4b891;
}

.receiptBottom {
  position:relative;
  width: 68.5%;
  max-width: 319px;
  height: auto;
  margin-top: -4px; 
  
}
.againImage{
  width:60%;
  margin-bottom: 10px;
  display: block;   
  margin: 0 auto;   
}

.reasonBox {

  padding: 8px;
  border-radius: 8px;
  color: white;
  line-height: 1.4;
  margin-bottom: 10px;
}

.kakaoLink {
  display: inline-block;
  margin-bottom:10px;
  color: #ffd54f;
  font-weight: 600;
  font-size: 10px;
  text-decoration: underline;
  
  
}
.kakaoLink:hover { color: #ffeb3b; }

