.wrapper {
    background-color: #3e2217;       /* 진한 갈색 배경 */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.receiptTop {
  margin-top:20px;
  width: 90%;
  max-width: 420px;
  height: auto;
}

.innerOffset{
  transform: translateY(-30px);
}
  
  .container {
    position: relative;
    background-color: #fac99d;       /* 연한 베이지 - 영수증 색상 */
    padding: 24px 20px;
    max-width: 318.5px;
    width: 68.3%;
    box-sizing: border-box;
    font-family: 'Pretendard', sans-serif;
    left: -1px;
    top:-3px;
  }

  .inner
  
  .item h3 {
    font-size: 1rem;
    color: #222;
    margin-bottom: 6px;
  }
  
  .item ul {
    padding-left: 16px;
    font-size: 0.95rem;
    color: #333;
  }
  
  .character {
    display: block;
    margin: 0 auto;
    width: 130px;
  }
  
  .backBtn {
    display: block;
    margin: 0 auto 12px;
    background-color: #d04e41;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .dottedLine {
    width: 100%;
    height: 8px;
    background-image:
    repeating-linear-gradient(to right, #3f2a21 0 4px, transparent 4px 8px),
    repeating-linear-gradient(to right, #3f2a21 0 4px, transparent 4px 8px);
    background-size: 100% 2px;
    background-position: top, bottom;
    background-repeat: repeat-x;
    margin-bottom :10px;
  }

  .again{
    font-size:14px;
    text-align:center;
    margin-bottom: 10px;
    font-weight : bold;

}

.title {
  font-size: 1.5rem;
  font-weight: 700; /* ✅ 글자 굵기만 강조 */
  text-align: center;
  margin-bottom: 10px;
  color: #3d2b1f;
}

.receiptBottom {
  position:relative;
  width: 90%;
  max-width: 420px;
  height: auto;
  margin-top: -4px; 
  left:-1px;
}
