.container {
  background: #FFD5BA;
  min-height: 100vh;
  padding: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: #d04e41;
}

.character {
  width: 48px;
  height: auto;
}

.timeBox {
  position : relative;
  background: #fff8f3;
  border-radius: 20px;
  padding: 16px;
  margin: 16px;
  box-shadow:
    -1px -1px 10px rgba(255, 255, 255, 0.6),  /* 왼쪽 위 하이라이트 */
    6px 6px 10px rgba(0, 0, 0, 0.1);         /* 오른쪽 아래 그림자 */
}

.innerBox {
  background: #fff8f3;
  border-radius: 24px;
  box-shadow: 
    -1px -1px 10px rgba(255, 255, 255, 0.6),  /* 왼쪽 위 하이라이트 */
    6px 6px 10px rgba(0, 0, 0, 0.1);         /* 오른쪽 아래 그림자 */
  padding: 24px 20px;
  margin: 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.options {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2px;
  margin-bottom: 4px;
}

.optionBtn {
  padding:5px 13px;
  border: 2px solid #d04e41;
  background: #feead7;
  border-radius: 12px;
  font-weight: bold;
  color: #444;
}

.selected {
  background-color: #d04e41;
  color: white;
}

.sliderGroup {
  background: white;
  border-radius: 16px;
  padding: 25px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.04);
  margin-bottom: -10px;
  
}

.sliderLabelWrapper {
  margin-top: -10px;
  margin-left: -10px;
  margin-bottom: 10px;
}

.sliderLabel {
  font-weight: bold;
  color: #2c5f2d;
  
}

.timePicker {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}


/* rc-slider 눈금 위치 정렬 */
:global(.rc-slider-mark) {
  width: 100%;
  position: absolute;
  top: 18px;
  left: 0;
}

:global(.rc-slider-mark-text) {
  font-size: 0.85rem;
  transform: translateX(-50%);
  text-align: center;
  white-space: nowrap;
}

:global(.rc-slider-mark-text:first-child) {
  transform: translateX(0%);
  text-align: left;
}

:global(.rc-slider-mark-text:last-child) {
  transform: translateX(-100%);
  text-align: right;
}


.timePicker select,
.timePicker input {
  font-size: 16px;
  padding: 6px 12px;
  border: none;
  border-radius: 12px;
  background: #fff1e5;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);
  text-align: center;
  color: #333;
  width: 60px;
}

.timeLabel{
  font-weight: bold;
  color: #2c5f2d;
}

.timePicker {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 6px 14px;
  border-radius: 16px;
  background-color :#f9e5d3;
  box-shadow:
    inset 4px 4px 10px #d7b7a3,     /* 내부 그림자 (오른쪽 아래) */
    inset -4px -4px 10px #fff2e4;   /* 내부 하이라이트 (왼쪽 위) */
  max-width: 280px;
  margin: 0 auto;
  margin-top: 10px;
}

.timePicker select {
  background: transparent;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  color: #5a3c2e; /* 더 연한 갈색 텍스트 */
  appearance: none;
  text-align: center;
  padding: 2px 4px;
  min-width: 45px;
}

.timePicker span {
  font-size: 1rem;
  font-weight: 500;
  color: #5a3c2e;
}
