.container {
  position: relative;
  width: 100vw;
  height: 100dvh;
  overflow: hidden;
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 0;
}

.content {
  position: relative;
  z-index: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; /* ✅ 세로 가운데 정렬로 변경 */
  align-items: center;
  gap: 20px;
}


.logo {
  width: 180px;
  margin-top: -10px;
  height: auto;
}


.speechBubbleWrapper {
  position: relative;
  width: 300px; /* 너비는 필요에 따라 조절 */
  height: auto;
  top: 0px;
}

.speechBubbleImage {
  width: 75%;
  height: auto;
  margin: 0 auto;
  display: block;
}

.speechText {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.4;
  color: green;
  white-space: pre-line;
  
}

.appLogo{
  
  margin-top:50px;
  width: 150px;
  height: auto;

}

.startButtonImage{
  box-shadow: 0 8px 8px rgba(0,0,0,0.15);
  border-radius: 20px;
}